.chatbot-whole{
  position: fixed;
  left: 62%;
  top: 35%;
}

.kdZMGe{
  width: 520px !important;
  background: #f9f9f4 !important;
  font-family: 'Quicksand', sans-serif !important;
  box-shadow: 0 0 0 0 !important;
  z-index: 101;
}

.rsc-header{
  background: transparent !important;
  height: 15px !important;
  color: transparent !important;
}

.fhAWVE{
  background: #d19d45 !important;
}

.jgMjlR{
  background: #d19d45 !important;
}

.fMcZCH{
  background: #d19d45 !important;
}

.rsc-content{
  padding: 13px !important;
}
