.featureHeading{
	/*text-align: center;*/
/*	color:yellow;
	height: 20px;*/
	font-family: 'Playfair Display', serif;
}
.hrFeatures{
	width: 15%;
	background-color: orange;
	position: relative;
	right: 468px;
}

#divFeatures{
	background-color: #D3D3D3;
	position: relative;
	top: -32px;
	padding-top: 34px;
	height: 300px

}
